.patientSignupForm {
  min-width: 640px;
  background: var(--brand-400);
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
  padding-top: 4rem;
}

.signupTitle {
  margin-left: 0;
  margin-bottom: 3rem;
  color: var(--white);
  font-size: 2rem;
}

.fields {
  margin: auto;
}

.fields label {
  color: var(--white);
}

[data-message]::after {
  content: attr(data-message);
  color: red;
}
