*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: var(--white);
  min-height: 100vh;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
}

.opacity-8 {
  opacity: 0.8;
}

input[hidden] {
  display: none !important;
}

label {
  display: block;
  width: max-content;
  font-size: 0.9rem;
  padding: 0;
}

textarea {
  width: 600px;
}

table {
  /* border: 1px solid; */
  padding: 5px;
  border-spacing: 15px;
  display: inline;
  text-align: center;
}
