*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[hidden] {
  display: none !important;
}

label {
  display: block;
  width: max-content;
  font-size: 0.9rem;
  padding: 0;
}

textarea {
  width: 600px;
}
