*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  background-color: var(--white);
  min-height: 100vh;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
}

.opacity-8 {
  opacity: 0.8;
}

button {
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  margin: 1rem 0;
  cursor: pointer;
}

input[hidden] {
  display: none !important;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--white);
}

label {
  display: block;
  width: max-content;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  padding: 0;
  cursor: pointer;
}

textarea {
  width: 600px;
}

table {
  /* border: 1px solid; */
  padding: 5px;
  border-spacing: 15px;
  display: inline;
  text-align: center;
}
