.made-with {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}

.documentation {
  color: #fd264f;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^="tab"] .tabLabel,
.tabs [class*=" tab"] .tabLabel {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
  width: 50%;
}

.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

.appointmentFormFields {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

/* .appointmentFormFields .formField {
  width: 100%;
} */

.doctorDetails .formField {
  margin-top: 1rem;
}

/* Add a black background color to the top navigation */
nav {
  margin-bottom: 50px;
  /* background-color: rgb(41, 65, 97); */
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.tableTitle {
  /* margin: 15px; */
  margin-top: 20px;
  margin-left: 15px;
  /* text-align: center; */
}

.formField {
  margin: auto;
  margin-bottom: 0px;
}

.doctorDetails {
  margin-bottom: 5px;
}

#bookedAppointments {
  position: relative;
  z-index: 10;
}
