.cover {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 640px;
  padding: 1rem;
}

.tagline {
  color: var(--brand-400);
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--brand-400);
  opacity: 0.8;
  font-style: italic;
}

.cover-img {
  position: relative;
  width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cover-img-container {
  position: relative;
  width: 700px;
  min-height: 300px;
}

.cover-img-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1rem;
  left: -1rem;
  border: 2px solid var(--brand-400);
  border-radius: 0.5rem;
}

.CTA {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--brand-400);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease-in-out;
}

.CTA:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: -1px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
