:root {
  --brand-300: #f04e5e;
  --brand-400: #dc3545;
  --brand-500: #a41221;
  --black: #1f0104;
  --white: #f7ebec;
  --blue: #007bff;
  --green: #28a745;
  --pink: #e83e8c;
  --yellow: #ffc107;
}
